<div class="grid-box width100 grid-v">
	<div class="module mod-box ">
		<div class="deepest">
			<ul class="menu menu-sidebar">
				<li class="level1 {{b1}}">
					<a href="/Sozdanie_sayta_vizitki.php" class="level1 {{b1}}">
						<span class="icon" style="background-image: url('/images/stories/icon_small.png');"></span>
						<span class="title">Создание сайта-визитки</span></a>
				</li>
				<li class="level1 {{b2}}">
					<a href="/Sozdanie_korporativnyh_saytov.php" class="level1 {{b2}}">
						<span class="icon" style="background-image: url('/images/stories/icon_ria.png');"> </span>
						<span class="title">Создание корпоративного сайта</span></a>
				</li>
				<li class="level1 {{b3}}">
					<a href="/Zakazat_sozdanie_internet_magazina.php" class="level1 {{b3}}">
						<span class="icon" style="background-image: url('/images/stories/icon_custom.png');"> </span>
						<span class="title">Создание интернет магазина</span></a>
				</li>
				<li class="level1 {{b4}}">
					<a href="/Podderzhka_i_obsluzhivanie_saytov.php" class="level1 {{b4}}">
						<span class="icon" style="background-image: url('/images/stories/icon_redesign.png');"> </span>
						<span class="title">Поддержка и обслуживание сайтов</span></a>
				</li>
				<li class="level1 {{b5}}">
					<a href="/stoimost_sozdaniya_saytov.php" class="level1 {{b5}}">
						<span class="icon" style="background-image: url('/images/stories/icon_mainten.png');"> </span>
						<span class="title">Стоимость услуг создания сайтов</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>