<div class="grid-box width100 grid-v">
	<div class="module mod-box ">
		<div class="deepest">
			<ul class="menu menu-sidebar">
				<li class="level1 {{b1}}">
					<a href="/poiskovaya_optimizaciya_saytov.php" class="level1 {{b1}}"><span class="icon" style="background-image: url('/images/stories/icon_customcart.png');"> </span>
						<span class="title">Поисковая оптимизация сайтов</span></a>
				</li>
				<li class="level1 {{b2}}">
					<a href="/Prodvizhenie_i_raskrutka_saytov.php" class="level1 {{b2}}"><span class="icon" style="background-image: url('/images/stories/icon_store.png');"> </span>
						<span class="title">Продвижение и раскрутка сайтов</span></a>
				</li>
				<li class="level1 {{b3}}">
					<a href="/Kontekstnaya_reklama.php" class="level1 {{b3}}"><span class="icon" style="background-image: url('/images/stories/icon_store.png');"> </span>
						<span class="title">Контекстная реклама</span></a>
				</li>
				<li class="level1 {{b4}}">
					<a href="/seo_copywriting.php" class="level1 {{b4}}"><span class="icon" style="background-image: url('/images/stories/icon_seo.png');"> </span>
						<span class="title">SEO копирайтинг | Написание текстов</span></a>
				</li>
                <li class="level1 {{b5}}">
                    <a href="/nakrutka-prosmotrov-na-youtube.php" class="level1 {{b5}}"><span class="icon" style="background-image: url('/images/stories/icon_yt.png');"> </span>
                        <span class="title">Раскрутка видео на Youtube  | Накрутка просмотров и лайков на Youtube</span></a>
                </li>
				<li class="level1 {{b6}}">
					<a href="/stoimost_sozdaniya_saytov.php" class="level1 {{b6}}"><span class="icon" style="background-image: url('/images/stories/icon_store.png');"> </span>
						<span class="title">Стоимость услуг продвижения</span></a>
				</li>

			</ul>
		</div>
	</div>
</div>