<div class="grid-box width100 grid-v">
	<div class="module mod-box ">
		<div class="deepest">
			<ul class="menu menu-sidebar">
				<li class="level1 {{b1}}">
					<a href="" class="level1 {{b1}}"><span class="icon" style="background-image: url('/images/stories/icon_ppc.png');"> </span>
						<span class="title">Сайты за 15000</span></a>
				</li>
				<li class="level1 {{b2}}">
					<a href="" class="level1 {{b2}}"><span class="icon" style="background-image: url('/images/stories/icon_seo.png');"> </span>
						<span class="title">Сайты за 25000</span></a>
				</li>
				<li class="level1 {{b3}}">
					<a href="" class="level1 {{b3}}"><span class="icon" style="background-image: url('/images/stories/icon_link.png');"> </span>
						<span class="title">Сайты за 40000</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>
