<div class="grid-box width100 grid-v">
	<div class="module mod-box ">
		<div class="deepest">
			<ul class="menu menu-sidebar">
				<li class="level1 {{b1}}">
					<a href="/Etapy_sozdaniya_sayta.php" class="level1 {{b1}}">
						<span class="icon" style="background-image: url('/images/stories/icon_process.png');"></span>
						<span class="title">Как мы работаем</span> </a>
				</li>
				<li class="level1 {{b2}}">
					<a href="/Portfolio.php" class="level1 {{b2}}">
						<span class="icon" style="background-image: url('/images/stories/icon_portfolio.png');"> </span>
						<span class="title">Портфолио</span> </a>
				</li>
				<li class="level1 {{b3}}">
					<a href="/faq.php" class="level1 {{b3}}">
						<span class="icon" style="background-image: url('/images/stories/icon_faq.png');"> </span>
						<span class="title">FAQs</span> </a>
				</li>
				<li class="level1 {{b4}}">
					<a href="/Nashi_kontakty.php" class="level1 {{b4}}">
						<span class="icon" style="background-image: url('/images/stories/icon_contact.png');"> </span>
						<span class="title">Наши контакты</span></a>
				</li>
				<li class="level1 {{b5}}">
					<a href="/Preimuschestva_LightDream.php" class="level1 {{b5}}">
						<span class="icon" style="background-image: url('/images/stories/ico_whyus.png');"> </span>
						<span class="title">Почему именно мы</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>
