<ul class="menu menu-dropdown">
	<li class="level1 item1 {{a1}} hassubtitle">
		<a href="index.html" class="level1 {{a1}}"><span><span class="icon" style="background-image: url('/images/stories/icon_home.png');"> </span>Главная</span></a>
	</li>
	<li class="level1 item2 parent hassubtitle {{a2}}">
		<a href="/sozdanie_saytov.php" class="level1 parent {{a2}}"><span>Создание сайтов</span></a>

		<div class="dropdown columns2">
			<div class="dropdown-bg">
				<div>
					<div class="width100 column">
						<ul class="level2">
							<li class="level2 item6 ">
								<a href="/Sozdanie_sayta_vizitki.php" class="level2"><span><span class="icon" style="background-image: url('/images/stories/icon_small.png');"></span> Создание сайта-визитки</span></a>
							</li>
							<li class="level2 item14 ">
								<a href="/Sozdanie_korporativnyh_saytov.php" class="level2"><span><span class="icon" style="background-image: url('/images/stories/icon_ria.png');"> </span>Создание корпоративного сайта</span></a>
							</li>
							<li class="level2 item7 ">
								<a href="/sozdanie_internet_magazina.php" class="level2"><span><span class="icon" style="background-image: url('/images/stories/icon_custom.png');"> </span>Создание интернет магазина</span></a>
							</li>
							<li class="level2 item8 ">
								<a href="/Podderzhka_i_obsluzhivanie_saytov.php" class="level2"><span><span class="icon" style="background-image: url('/images/stories/icon_redesign.png');"> </span>Поддержка и обслуживание сайтов</span></a>
							</li>
							<li class="level2 item9 ">
								<a href="/stoimost_sozdaniya_saytov.php" class="level2"><span><span class="icon" style="background-image: url('/images/stories/icon_mainten.png');"> </span>Стоимость услуг создания сайтов</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="level1 item3 parent {{a3}}">
		<a href="/Prodvizhenie_saytov.php" class="level1 parent {{a3}}"><span>Продвижение сайтов</span></a>

		<div class="dropdown columns2">
			<div class="dropdown-bg">
				<div>
					<div class="width100 column">
						<ul class="level2">
							<li class="level2 item16">
								<a href="/poiskovaya_optimizaciya_saytov.php" class="level2"><span><span class="icon" style="background-image: url('/images/stories/icon_customcart.png');"> </span>Поисковая оптимизация сайтов</span></a>
							</li>
							<li class="level2 item17">
								<a href="/Prodvizhenie_i_raskrutka_saytov.php" class="level2"><span><span class="icon" style="background-image: url('/images/stories/icon_store.png');"> </span>Продвижение и раскрутка сайтов</span></a>
							</li>
							<li class="level2 item17">
								<a href="/Kontekstnaya_reklama.php" class="level2"><span><span class="icon" style="background-image: url('/images/stories/icon_store.png');"> </span>Контекстная реклама</span></a>
							</li>
							<li class="level2 item17">
								<a href="/seo_copywriting.php" class="level2"><span><span class="icon" style="background-image: url('/images/stories/icon_seo.png');"> </span>SEO копирайтинг | Написание текстов</span></a>
							</li>
							<li class="level2 item17">
								<a href="stoimost_sozdaniya_saytov.php" class="level2"><span><span class="icon" style="background-image: url('/images/stories/icon_store.png');"> </span>Стоимость услуг продвижения</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="level1 item4 parent {{a4}}"><a href="" class="level1 parent {{a4}}"><span>Готовые сайты</span></a>

		<div class="dropdown columns">
			<div class="dropdown-bg">
				<div>
					<div class="width100 column">
						<ul class="level2">
							<li class="level2 item18">
								<a href="" class="level2"><span><span class="icon" style="background-image: url('/images/stories/icon_ppc.png');"> </span>Сайты за 15000</span></a>
							</li>
							<li class="level2 item19">
								<a href="" class="level2"><span><span class="icon" style="background-image: url('/images/stories/icon_seo.png');"> </span>Сайты за 25000</span></a>
							</li>
							<li class="level2 item20">
								<a href="" class="level2"><span><span class="icon" style="background-image: url('/images/stories/icon_link.png');"> </span>Сайты за 40000</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="level1 item5 parent {{a5}}">
		<a href="/web_studiya_Lightdream.php" class="level1 parent {{a5}}"><span>О нас</span></a>

		<div class="dropdown columns1">
			<div class="dropdown-bg">
				<div>
					<div class="width100 column">
						<ul class="level2">
							<li class="level2 item24">
								<a href="/Etapy_sozdaniya_sayta.php" class="level2"><span><span class="icon" style="background-image: url('/images/stories/icon_process.png');"> </span>Как мы работаем</span></a>
							</li>
							<li class="level2 item25">
								<a href="/Portfolio.php" class="level2"><span><span class="icon" style="background-image: url('/images/stories/icon_portfolio.png');"> </span>Портфолио</span></a>
							</li>
							<li class="level2 item27">
								<a href="/faq.php" class="level2"><span><span class="icon" style="background-image: url('/images/stories/icon_faq.png');"> </span>FAQs</span></a>
							</li>
							<li class="level2 item28">
								<a href="/Nashi_kontakty.php" class="level2"><span><span class="icon" style="background-image: url('/images/stories/icon_contact.png');"> </span>Наши контакты</span></a>
							</li>
							<li class="level2 item35">
								<a href="/Preimuschestva_LightDream.php" class="level2"><span><span class="icon" style="background-image: url('/images/stories/ico_whyus.png');"> </span>Почему именно мы</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="level1 item26 {{a6}}">
		<a href="" class="level1 {{a6}}"><span>Заказ услуг</span></a>
	</li>
</ul>