<div class="nav-container">
    <ul id="nav">
        <li class="level0 nav-1 level-top first parent {{ a1 }}">
            <a class="level-top" href="/"> <span>Главная</span> </a>
        </li>
        <li class="level0 nav-2 level-top {{ a2 }}">
            <a class="level-top" href="/dostavka_straz.php"> <span>Доставка</span> </a>
        </li>
        <li class="level0 nav-3 level-top {{ a3 }}">
            <a class="level-top" href="/kupit_strazy.php"> <span>Купить стразы</span> </a>
        </li>
        <li class="level0 nav-4 level-top {{ a4 }}">
            <a class="level-top" href="/photo_cveta_razmery_straz.php"> <span>Размеры страз</span> </a>
        </li>
        <li class="level0 nav-5 level-top {{ a5 }}">
            <a class="level-top" href="/strazy_optom.php"> <span>Стразы оптом</span> </a>
        </li>
        <li class="level0 nav-6 level-top last {{ a6 }}">
            <a class="level-top" href="/contacts.php"> <span>Контакты</span> </a>
        </li>
    </ul>
</div>
